{% include "admin/header.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% include "admin/side_nav.html" %}
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header"><i class="fa fa-comments"></i> Schedule Notifications</h1>
            <div class="row">
                <div class="well">
                    <button class="btn btn-success" id="addnotification"><i class="fa fa-comment"></i> Create Notification</button>
                </div>

                <div class="table-responsive well">
                    <h2>Pending Notifications</h2>
                    <table class="table table-striped datatablespn">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Area</th>
                            <th>Route</th>
                            <th>Created By</th>
                            <th>Date Scheduled</th>
                            <th>Cleaning Date</th>
                            <th>Send Date</th>
                            <th class="no-sort">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

                <div class="table-responsive well">
                    <h2>Notification Log</h2>
                    <table class="table table-striped datatablesnl">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Area</th>
                            <th>Route</th>
                            <th>Created By</th>
                            <th>Date Scheduled</th>
                            <th>Cleaning Date</th>
                            <th>Send Date</th>
                            <th>Finished Date</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


{% include "admin/footer.html" %}