{% include "admin/header.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% include "admin/side_nav.html" %}
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header"><i class="fa fa-pie-chart"></i> Reports</h1>
            <div class="row well">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Report Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Export Entire Subscriber Table (CSV)</td>
                            <td>
                                <a href="/admin/reports/exportsubscribers"><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Export Entire Notification Log Table (CSV)</td>
                            <td>
                                <a href="/admin/reports/exportnotificationlog"><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "admin/footer.html" %}