{% include "admin/header.html" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% include "admin/side_nav.html" %}
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header"><i class="fa fa-lock"></i> Reset Password</h1>
            {% include "admin/error.html" %}
            <form name="adduser" class="form" method="post" action="/admin/resetpassword">
                <input type="hidden" name="pwlength" value="10">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" class="form-control" type="password" name="password" value="" placeholder="New Password">
                </div>
                <div class="form-group">
                    <label for="password2">Repeat Password</label>
                    <input id="password2" class="form-control" type="password" name="password2" value="" placeholder="Repeat Password">
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" class="form-control" type="submit" value="Reset Password">
                </div>
            </form>
        </div>
    </div>
</div>


{% include "admin/footer.html" %}