{% include "admin/header.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% include "admin/side_nav.html" %}
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header"><i class="fa fa-users"></i> Subscribers</h1>
            <div class="row well">
                <div class="table-responsive">
                    <table class="table table-striped datatablesssp">
                        <thead>
                        <tr>
                            <th class="no-sort"></th>
                            <th>Area / Route</th>
                            <th>AlertAddress</th>
                            <th>license_id</th>
                            <th>council_district</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>NotificationValue</th>
                            <th>DateAdded</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "admin/footer.html" %}